<!doctype html>
<html>
<head>
	<title>Simple Reddit</title>
    <link rel="stylesheet" href="/static/pages.css" type="text/css">
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>
<body>
	{{{body}}}
</body>
</html>